<ion-view view-title="Dashboard" ng-controller="HomeController">
    <ion-nav-buttons side="right">
        <a class="button button-clear button-positive" ng-click="saveDrawing()">Save</a>
    </ion-nav-buttons>

  <ion-content has-header="true" has-subheader="true">
    <div class="canvas-container"> 
      <canvas id="canvas"></canvas>
    </div>
    
    <div class="toolbar-container">
        <ion-scroll direction="x" class="wide-as-needed">
            <a class="button icon ion-android-color-palette" ng-click="openColorPopver($event)">&nbsp;&nbsp;Color</a>
            <a class="button icon ion-paintbrush" ng-click="openStrokePopver($event)">&nbsp;&nbsp;Stroke</a>
            <a class="button icon ion-backspace" ng-click="clear()">&nbsp;&nbsp;Clear</a>
            <a class="button icon ion-ipad" ng-click="eraseCanvas()">&nbsp;&nbsp;Erase</a>
            <a class="button icon ion-android-microphone" ng-click="startRecording()">&nbsp;&nbsp;Record</a>
            <a class="button icon ion-ios-videocam-outline" ng-click="startVideo()">&nbsp;&nbsp;Video</a>
        </ion-scroll>
    </div>

  </ion-content>

</ion-view>